
/*----------------------------------------
  Back to top button
------------------------------------------*/
.backtotop{
  display: none;
  position: fixed;
  right: 20px;
  bottom: 70px;
  -webkit-animation-name: fadeIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: fadeIn;
    animation-duration: 1s;
    z-index: 998;
    -webkit-backface-visibility: hidden;
}
.backtotop i{
  line-height: 35px;
  font-size: 24px;
}

.chat-app .backtotop{
  bottom: 140px;
}

[data-footer_menu="hide"] .backtotop{
  bottom: 20px;
}
[data-footer_menu="hide"] .chat-app .backtotop{
  bottom: 90px;
}
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 
