
/*----------------------------------------
 Accordion
------------------------------------------*/
.collapsible.transparent{
  border: none;
  /* border-top: 1px solid #ddd; */
  /* border: 1px solid rgba(50, 50, 50, .07); */
}
.collapsible.transparent .collapsible-header{
  background-color: transparent;
}
.collapsible.colored{
  border: none;
}
.collapsible.colored li:last-child .collapsible-header{
  border-bottom: none;
}
.collapsible .collapsible-header.primary-bg, .collapsible .collapsible-header.primary-bg:focus{
  background-color: var(--primary-color);
}
.collapsible .collapsible-header.accent-bg, .collapsible .collapsible-header.accent-bg:focus{
  background-color: var(--accent-color);
}
.collapsible-header{
  position: relative;
  background-color: #f5f5f5;
}
.collapsible-header:after{
    content: "\F140";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 15px;
    font-size: 17px;
    opacity: 0.7;
}
.active .collapsible-header:after{
    content: "\F143";
}

.collapsible,
.collapsible li,
.collapsible-body,
.collapsible-header{
  border-radius: var(--border-radius);

}

.collapsible-header i {
  margin-right: 10px;
  width: 36px;
  font-size: 19px;
  display: inline-block;
  /* background: var(--primary-color);
  border-radius: var(--border-radius-50percent); */
  height: 36px;
  line-height: 36px;
  /* color: #ffffff; */
}
.collapsible-header {
  line-height: 36px;
  font-size: 17px;
  padding: 12px 15px;
  border: none;
}

.collapsible-header,
.collapsible li{
  /* box-shadow: none; */
  /* box-shadow: 0px -1px 5px rgba(0, 0, 0, .1); */
  margin-bottom: 5px;
}
/* .collapsible.popout li,
.collapsible.popout li.active{
  box-shadow: none;
} */
/* .collapsible.transparent .collapsible-header,
.collapsible.transparent li{
  box-shadow: 0px -1px 3px rgba(0, 0, 0, .1);
} */

/* .collapsible-header{
  background-color: #f5f5f5;
} */
.collapsible-body{
  border: none;
  background: #f5f5f5;
  /* padding-top: 12px; */
}
.collapsible.transparent .collapsible-header, .collapsible.transparent .collapsible-body,
body .collapsible, body .collapsible.colored{
  box-shadow: none;
  border: none;
}

/* .collapsible.colored .collapsible-header i {
  background: rgba(0, 0, 0, .2);
} */

.collapsible .img{
  border-radius: var(--border-radius);
  margin-bottom: 15px;
}

.collapsible.transparent .collapsible-header{
  border: 1px solid rgba(0, 0, 0, .1);
}
/* .collapsible.transparent .active .collapsible-header{
  background: #ffffff;
  border: none;
} */
.collapsible.transparent .collapsible-header,
.collapsible.transparent .collapsible-body{
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, .1);
}
.collapsible.gray .collapsible-body,
.collapsible.gray .collapsible-header{
	background-color: #f5f5f5;
}
.collapsible.popout>li,
.collapsible.popout>li.active{
  box-shadow: none;
}

/*----------------------------------------
  Site - Dark Mode - collapsible
----------------------------------------*/
[data-site_mode="dark"] .collapsible-header,
[data-site_mode="dark"] .collapsible-header:focus{
  background-color: #001f27;
  color: #f5f5f5;
  border-color: #001f27;
}
[data-site_mode="dark"] .collapsible-body{
  border-color: #001f27;
  background-color: #001f27; /* 455A64 */
}

[data-site_mode="dark"] .collapsible.transparent .collapsible-body,
[data-site_mode="dark"] .collapsible.transparent .active .collapsible-header,
[data-site_mode="dark"] .collapsible.transparent .collapsible-header{
  background: transparent;
  border: 1px solid #001f27;
}
[data-site_mode="dark"] .collapsible.gray .collapsible-body,
[data-site_mode="dark"] .collapsible.gray .collapsible-header{
	background-color: #001f27;
}
